.primary-button {
   width: 214px;
   height: 56px;
   background-color: var(--primary-color); 
   border-radius: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--white-color);
   
}
