@import "./base.css";
@import "./varables.css";
@import "./normalize.css";
@import "./fonts.css";
@import "./button.css";

/* HEADER START */
.header {
  background-image: url("../images/image-hero-desktop.jpg");
  background-size: 1440px 400px;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 1440px;
}

.header-container {
  padding-top: 4.8rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 400px;
  padding-left: 16.8rem;
  padding-right: 16.5rem;
}
/* .site-logo {
}
.site-logo__image {
}
.sitenav {
} */
.sitenav-list {
  display: flex;
  gap: 3.2rem;
}
/* .sitenav-item {
} */
.sitenav-link {
  color: var(--white-color);
  font-weight: 500;
  font-size: 1.3rem;
}

.header__button {
  background-color: transparent;
  border: 0;
  display: none;
}

.header__button-icon {

}

/* HEADER END */

/* RESPONSIVE DISIGN */

/* BREACKPOINTS */
@media (max-width: 375px) {
  .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 3.2rem;

  }
  .header-container {
    margin: 0;    
    width: inherit;    
    height: inherit;
    
    align-items: normal;

  }

  .header {
    background-image: url("../images/image-hero-mobile.jpg");
    background-size: 375px 300px;  
    height: 300px;
    width: 375px;
  }

  .sitenav {
    display: none;
  }
  .header__button {
    display: flex;
    cursor: pointer;
  }


}

.main {
  display: flex;
  justify-content: center;
}
.hero {
  width: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin-top: -75px;
}
.section {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 1rem;
}

.section-one {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.section-one-img {
  margin-top: -28px;
}
.section-one-name {
  font-weight: 700;
    font-size: 2.8rem;
    line-height: 34.24px;
    color: var(--black-color);
    text-align: center;
    margin-bottom: 1.5rem;   
}

.section-one-description {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 19.57px;
    color: var(--text-color);
    text-align: center;    
    margin-bottom: 2.4rem;
}
.section-one-footer {
    display: flex;
    justify-content: space-between;
    gap: 25.6rem;
    margin-bottom: 4.8rem;
}
.section-one-footer-button {
  border: none;
  background-color: transparent;
  /* margin-bottom: 4.8rem; */
}
.bookmark-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.bookmark {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 19.57px;
    color: var(--text-color);
}

.section-two {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding-right: 2.4rem;
  padding-left: 4.8rem;
  padding-top: 2.7rem;
  padding-bottom: 4.9rem;
}
.section-two-wrapper {
  display: flex;
  justify-content: flex-start;
  
}

hr {
  display: none;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-right: 0.1rem solid var(--text-color); */
}
.price-one {
  margin-right: 4.5rem;
}

.price-two {
  margin-left: 4.5rem;
  margin-right: 7rem;
}
.price-three {
  margin-left: 4.5rem;
  border-right: none;
}
.price-top {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 39.14px;
  color: var(--black-color);    
  margin-bottom: 0.9rem;
  
}
.price-bottom {
  text-align: center;    
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.07;
  color: var(--text-color);    
  margin-bottom: 2.4rem;
}

.section-two-img {
  margin-top: 0.8rem;
  width: 634px;
  height: 12px;
}

.section-three {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-right: 4.8rem;
  padding-left: 4.8rem;
  padding-top: 4.8rem;
}

.section-three-block-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.8rem 3.2rem;
}
.section-three-name {
  font-weight: 700;
  font-size: 2rem;
  line-height: 24.46px;
  color: var(--black-color);    
  margin-bottom: 3.5rem;

}
.section-three-name-description {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  color: var(--text-color);    
  margin-bottom: 4rem;
}
.section-three-block {
  margin-top: 1.1rem;
  background-color: var(--white-color);
  border: 0.1rem solid #d9d9d9;
  border-radius: 1.5rem;
  margin-bottom: 1.3rem;
}
.section-three-block-name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22.01px;
  color: var(--black-color);    
  /* margin-bottom: 0.8rem; */
  /* padding-top: 2.4rem;
  padding-left: 2.4rem; */
}
.section-three-block-price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 18.35px;
  color: var(--primary-color);    
  /* margin-bottom: 2.4rem;
  padding-left: 2.4rem; */
}
.section-three-block-description {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 24px;
  color: var(--text-color);  
  margin-bottom: 2.4rem;
  text-align: justify;
}

.section-three-block-orders-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 3.2rem;
  
}
.section-three-block-orders {
  display: flex;
  padding-left: 3.2rem;
  align-items: center;
  gap: 0.8rem;    
  margin-bottom: 2.4rem;
}
.section-three-block-orders-number {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 39.14px;
  color: var(--black-color);    
}
.section-three-block-orders-text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 18.35px;
}
.section-three-button {
  padding-left: 2.4rem;
  border: none;
  margin-bottom: 2.4rem;
  background-color: transparent;
}
.primary-button {
  border-radius: 2.8rem;
  width: 157px;
  height: 48px;
}

.block {
  opacity: 50%;
}

.primary-button-disabled {
  background-color: var(--disabled-color);
}

@media (max-width: 375px) {
  .main {
    display: flex;
    justify-content: center;
    
  }
  .hero {
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -75px;
  }
  .section-one {
    width: 100%;
    background-color: var(--white-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  .section-one-img {
    margin-top: -28px;
  }
  .section-one-name {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 34.24px;
    color: var(--black-color);
    text-align: center;    
  }
  .section-one-description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 19.57px;
    color: var(--text-color);
    text-align: center;    
    margin-bottom: 2.4rem;
  }
  .section-one-footer {
    display: flex;
    justify-content: space-between;
    gap: 0.9rem;
  }
  .section-one-footer-button { 
    border: none;   
  }
  hr {
    display: block;
    text-align: center;
    width: 80px;    
    color: rgba(0, 0, 0, 0.15);
    height: 0;
  }

  .section-two {
    width: 100%;
    background-color: var(--white-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  .section-two-wrapper {
    display: flex;
    flex-direction: column;
  }
  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price-top {
    text-align: center;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 39.14px;
    color: var(--black-color);    
    margin-bottom: 0.9rem;
  }
  .price-bottom {
    text-align: center;    
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.07;
    color: var(--text-color);    
    margin-bottom: 2.4rem;
  }

  .price-one {
    margin-right: 0;
  }
  .price-two {
    margin-left: 0;
    margin-right: 0;
  }
  .price-three {
    margin-left: 0rem;
    border-right: none;
  }
  .section-two-img {
    width: 279px;
    height: 12px;
    margin-top: 0.8rem;
  }
 
  .section-three {
    width: 100%;
    background-color: var(--white-color);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  .section-three-name {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 22.01px;
    color: var(--black-color);    
    margin-bottom: 2.4rem;

  }
  .section-three-name-description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 24px;
    color: var(--text-color);    
    margin-bottom: 2.4rem;
  }
  .section-three-block {
    margin-top: 1.1rem;
    background-color: var(--white-color);
    border: 0.1rem solid #d9d9d9;
    border-radius: 1.5rem;
    margin-bottom: 1.3rem;
  }
  .section-three-block-name {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 17.12px;
    color: var(--black-color);    
    margin-bottom: 0.8rem;
    /* padding-top: 2.4rem;
    padding-left: 2.4rem; */
  }

  .section-three-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    padding-left: 2.4rem;
    padding-top: 2.4rem;
  }
  .section-three-block-price {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 17.12px;
    color: var(--primary-color);    
    margin-bottom: 2.4rem;
    
  }
  .section-three-block-description {
    
    padding-left: 2.4rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 24px;
    color: var(--text-color);  
    margin-bottom: 0rem;
    padding-right: 2.4rem;
    
  }
  .section-three-block-orders-wrapper {
    display: flex;
    flex-direction: column;
    
    padding-right: 3.2rem;
    
  }
  .section-three-block-orders {
    display: flex;
    padding-left: 2.4rem;
    align-items: center;
    gap: 0.8rem;    
    margin-bottom: 0rem;
  }
  .section-three-block-orders-number {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 39.14px;
    color: var(--black-color);    
  }
  .section-three-block-orders-text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 18.35px;
  }
  .section-three-button {
    padding-left: 2.4rem;
    border: none;
    margin-bottom: 2.4rem;
    background-color: transparent;
  }
  .primary-button {
    border-radius: 2.8rem;
    width: 157px;
    height: 48px;
  }

  .block {
    opacity: 50%;
  }

  .primary-button-disabled {
    background-color: var(--disabled-color);
  }

  .bookmark {
    display: none;
  }
}